/* Do not set the style attribute on any div that uses this class. It is
overridden by the javascript to make scrolling work. */
.button_bar {
  position:relative; /* required */
  height:50px; /* required */
  background-color:f0f;
}
.above_button_bar {
  height:50px; /* must be the same height as .button_bar */
}
